# Ignore all files by default
*
!.gitignore

# include files explicitly by including them using patterns
!alacritty/
!alacritty/alacritty.toml

# fish config related included files
!fish/
!fish/completions/
!fish/completions/fzf_configure_bindings.fish
!fish/conf.d/
!fish/conf.d/fzf.fish
!fish/conf.d/01-variables.fish
!fish/conf.d/02-aliases.fish
!fish/conf.d/03-brew.fish
!fish/conf.d/starship.fish
!fish/conf.d/zoxide.fish
!fish/config.fish
!fish/fish_plugins
!fish/fish_variables
!fish/functions/
!fish/functions/fzf_configure_bindings.fish
!fish/functions/generate_docker_aliases.fish
!fish/themes/

!helix/
!karabiner/
!karabiner/assets/
!karabiner/assets/complex_modifications/
!karabiner/assets/complex_modifications/1746210900.json
!karabiner/karabiner.json
!nnn/
!nnn/bookmarks/
!nnn/mounts/
!nnn/plugins/
!nnn/plugins/*
!nnn/sessions/
!nvim/
!nvim/LICENSE
!nvim/README.md
!nvim/init.lua
!nvim/lazy-lock.json
!nvim/lazyvim.json
!nvim/lua/
!nvim/lua/config/
!nvim/lua/config/autocmds.lua
!nvim/lua/config/keymaps.lua
!nvim/lua/config/lazy.lua
!nvim/lua/config/options.lua
!nvim/lua/plugins/
!nvim/lua/plugins/*
!nvim/stylua.toml
!zellij/
!zellij/config.kdl
