# Ignore all files by default
*
!.gitignore

# include files explicitly by including them using patterns
!alacritty/
!alacritty/alacritty.toml

# fish config related included files
!fish/
!fish/completions/
!fish/completions/secret_add.fish
!fish/completions/secret_delete.fish
!fish/completions/secret_export.fish
!fish/completions/secret_get.fish
!fish/completions/secret_list.fish
!fish/completions/secret_load.fish

!fish/conf.d/
!fish/conf.d/01-variables.fish
!fish/conf.d/02-aliases.fish
!fish/conf.d/03-brew.fish
!fish/conf.d/04-secrets.fish
!fish/conf.d/starship.fish
!fish/conf.d/zoxide.fish
!fish/conf.d/secrets.json.gpg
!fish/conf.d/secrets_functions_path.fish
!fish/conf.d/fnm.fish

!fish/functions/
!fish/functions/generate_docker_aliases.fish
!fish/functions/secret_add.fish
!fish/functions/secret_delete.fish
!fish/functions/secret_export.fish
!fish/functions/secret_get.fish
!fish/functions/secret_list.fish
!fish/functions/secret_load.fish
!fish/functions/config_auto_commit_and_push.fish

!fish/themes/

!fish/config.fish
!fish/fish_plugins
!fish/fish_variables


!helix/
!karabiner/
!karabiner/assets/
!karabiner/assets/complex_modifications/
!karabiner/assets/complex_modifications/1746210900.json
!karabiner/karabiner.json
!nnn/
!nnn/bookmarks/
!nnn/mounts/
!nnn/plugins/
!nnn/sessions/
!nvim/
!nvim/LICENSE
!nvim/README.md
!nvim/init.lua
!nvim/lazy-lock.json
!nvim/lazyvim.json
!nvim/lua/
!nvim/lua/config/
!nvim/lua/config/*.lua
!nvim/lua/plugins/
!nvim/lua/plugins/*.lua

!nvim/queries/
!nvim/queries/*/
!nvim/queries/*/*.scm

!nvim/stylua.toml
!nvim/.neoconf.json
!zellij/
!zellij/config.kdl
!bootstrap-config.sh
!bootstrap.fish
!README.md

!brew/
!brew/brew-packages

